<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="keywords" content="Jajuk Advanced Jukebox - Official Site, 1.10.7, Download, Help, License, New Features Highlights, GIT" />
    <link rel="stylesheet" type="text/css" href="/stylesheets_slate/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets_slate/navigation.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets_slate/pygment_trac.css" media="screen"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Jajuk Advanced Jukebox</title>
  </head>

  <body>
  	<!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <h1 id="project_title">Jajuk Advanced Jukebox</h1>

          <a id="forkme_banner" href="https://github.com/jajuk-team/jajuk"><small>Follow us on</small> GitHub</a>

        <nav id="main-navigation">
			<ul class="clearfix">
			<li><a href="index.html">Home</a></li>
			<li><a href="download.html">Download</a></li>
			<li><a href="jajuk_faq.html">FAQ</a></li>
			<li><a href="git.html">Git</a></li>
			<li><a href="jajuk_team.html">Jajuk Team</a></li>
			</ul>
		</nav>

       </header>
    </div>

	<!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
{{content}}
	</section>
	</div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Jajuk is Free Software published under the GPL V2 License.</p>
        <p>The Jajuk software was created using Java. Java is a trademark or registered trademark of Sun Microsystems, Inc. in the United States and other countries. </p>
      </footer>
    </div>

  </body>
</html>
