<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="keywords" content="Jajuk Advanced Jukebox - Official Site, 1.10.7, Download, Help, License, New Features Highlights, GIT" />
    <link rel="stylesheet" type="text/css" href="/stylesheets_slate/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets_slate/navigation.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets_slate/pygment_trac.css" media="screen"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>Jajuk Advanced Jukebox</title>
  </head>

  <body>
  	<!-- HEADER -->
    <div id="header_wrap" class="outer" >

        <header class="inner">
          <h1 id="project_title"><a href="/" class="home">Jajuk Advanced Jukebox
              <!-- Flattr -->
              <script id='fb0lpvp'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//button.flattr.com/view/?fid=me52lv&button=compact&url=http%3A%2F%2Fjajuk.info';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb0lpvp');</script>
              <!-- G+ -->
              <div class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/116653776869968419005" data-rel="publisher"></div></h1>
            <a id="forkme_banner" href="https://github.com/jajuk-team/jajuk"><small>Follow us on</small> GitHub</a>


           <nav id="main-navigation">
			<ul class="clearfix">
			<li><a href="/download.html">Download</a></li>
            <li><a href="/screenshots.html">Screenshots</a></li>
			<li><a href="/features.html">Features</a></li>
			<li><a href="/help.html">Help</a></li>
            <li><a href="/contribute.html">Contribute</a></li>
			</ul>
		</nav>

       </header>
    </div>

	<!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
{{content}}
	</section>
	</div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Jajuk is a Free Software published under the GPL V2 License.</p>
        <p>Oracle and Java are registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.</p>
      </footer>
    </div>

  </body>
</html>
